// COLORS
$color-primary-dark: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);

$color-secondary-very-dark: hsl(212, 21%, 14%);
$color-secondary-dark: hsl(228, 12%, 48%);

$color-white: hsl(0, 0%, 100%);

// FONT
$default-font-size: 1.6rem;
