body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: rem(23);
  background-color: $color-primary-cream;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
